
* {
    box-sizing: border-box;
}

body {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(149,19,61,1) 0%, rgba(232,233,148,0.5264367816091954) 100%);
}

.innerBody{
    background: transparent;
    margin: 0 auto;
    width: 60%;
    font-family: Consolas, Arial, serif;
    color: white;
}

header {
    background: transparent;
}

.headerUp {
    padding: 0 1em;
}

.headerDown {
    padding: 0.5em 1em;
}

main {
    background: transparent;
    padding: 1em;
    border: black 3px solid;
    color: black;
}

footer {
    font-size: 10px;
    background: transparent;
    text-align: center;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .innerBody {
        background: transparent;
        width: 100%;
    }

    .headerDown {
        flex-direction: column;
    }

    .neonButton {
        width: 100px;
    }

    .chatroom {
        flex-wrap: wrap;
    }

}

.hr {
    position: relative ;
    height: 2px;
    background: white;
}


#brand {
    font-family: Consolas, Arial, serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bolder;
}

.chatroom {
    background: white;
    padding: 0;
}

.chatroomTitle {
    font-weight: bolder;
}

.chatroomDescription {
    overflow-wrap: break-word;
}

.connectButton {
    text-align: center;
    font-weight: bolder;
}

