<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="main2.css">
    <link rel="stylesheet" type="text/css" href="neonButton.css">
    <link rel="stylesheet" type="text/css" href="simpleNeonButton.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

</head>
<body>


<div class="innerBody">

    <header class="header sticky-top">

        <div class="hr"></div>

        <div class="headerUp container-fluid d-flex justify-content-start" id="brand">
            <div class="align-self-center">
                WASSAPP
            </div>
        </div>

        <div class="hr"></div>

        <div class="headerDown d-flex justify-content-between">
            <div class="headerDownElements">
                Welcome AgentC0BRA <a href="#"><i class="bi bi-pencil-square"></i></a>
            </div>
            <div class="headerDownElements neonButton">
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Log Out <i class="bi bi-box-arrow-left"></i></a>
            </div>
        </div>

        <div class="hr"></div>

    </header>

    <main class="main">
        <div class="chatroom d-flex justify-content-between">
            <div class="chatroomInformation align-self-center col-12 col-md-10">
                <div class="chatroomTitle">
                    Chatroom 1
                </div>
                <div class="chatroomDescription">
                    ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                </div>
                <div>
                    1/10 <i class="bi bi-person-fill"></i>
                </div>
            </div>

            <div class="connectButton align-self-center col-12 col-md-2">
                <div class="simpleNeonButton">
                    <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Connect</a>
                </div>
            </div>
        </div><br>
    </main>

    <footer>
        <div class="hr"></div>
        <div>
            Produced by Océane TORCHE & Henry BURGAT
        </div>
        <div class="hr"></div>
    </footer>

</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>