<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP CSS, JQUERY, JS, COMPILED JAVASCRIPT -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- CUSTOMED CSS -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div id="homeBigWrapper">

    <div id="homeLittlewrapper" class="col-11 col-xs-11 col-sm-10 col-md-8 col-lg-8">
        <!-- head  -->
        <div id="homeHead">
            <h1>WASSAP</h1>
            <hr style="height: 5px; background-color: black">
            <div class="d-flex">
                <p class="col-8">Welcome --username--</p>
                <a class="btn btn-danger col-4">LOG OUT</a>
            </div>
        </div>


        <!-- main  -->
        <div id="homeMain">
            <div id="chatroom" class="chatroom">
                <h2 id="chatroomTitle">SI-CA2a</h2>
                <p id="chatroomDescription">bla bla bla bla generic text, i love flexbox</p>
                <a class="btn btn-primary">Connect</a>
            </div>
        </div>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>