<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        #main
        {
            background-color: red;
            line-height: 400px;

        }

        #frm
        {
            background-color: salmon;
            display: inline-block;
            vertical-align: middle;
            line-height: 14px;
        }
    </style>
</head>
<body>
<div id="main" >
    <form id="frm" action="save_thought.php" method="post">
        <input type="text" name="thought"><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>